
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');





*{margin: 0; padding: 0; font-family: 'Poppins', sans-serif;}


.active{font-weight: 800; font-size: 16px;}
.head{display: flex; justify-content: space-around; align-items: center; margin: 18px 0;}
.nav ul li{display: inline-block; margin-left: 25px; list-style-type: none;}
.nav ul li a {text-decoration: none; color: black;}

.nav ul li a:hover{font-weight: 800; font-size: 16px; transition: all ease-in 0.3s;}

.banner {display: flex; align-items: center;}
.banner img{width: 50%;}

.info{ width: 50%;padding: 10% 10% 10% 12%}

.info h2{font-size: 55px; line-height: 1.2; color: #707f3f;} 
.info p{line-height: 1.2;margin-top: 25px; color: #565656;}
.info h4{letter-spacing: 8px; color: #dea600 ;}


.headings{font-size: 36px; font-weight: 600; text-align: center; margin:50px 0;}

.company-info{display: flex; justify-content: space-around; padding: 0px 6%; position: relative;}

.company-info p{padding: 0px 7%; font-size: 15px; margin-bottom: 50px; color: #565656;} 

.boxes {width: 40px;  height: 120px; background-color : #707f3f; position: absolute;}

.boxes-2{width: 40px;  height: 120px; background-color :#707f3f; position: absolute; right: 0; bottom: 20px;}

.company-info p a{ text-decoration: none; font-weight: 600;}

.headings-1{font-size: 36px; font-weight: 600; text-align: center; margin-bottom:50px; color: #707f3f;}

.about-head{width: 10%; height: 500px; background-color: #707f3f;}

.about-info{width: 90%; height: 500px; background-color: #dea600;  }

.about-head h1{ transform: rotate(-90deg); color: white; position: relative; top: 50%; font-size:65px; }

.about{ display: flex; }

.about-info-content{padding: 7% 7% 0 7%; font-size: 16px; color: white; }

.edit{font-size:20px; font-weight: 600;}

.about-img{position: absolute; right:120px; margin-top: -150px;   }

.about-img img{border: 20px solid #707f3f;}

.social{background-color: #707f3f; width:45%; display: flex; padding: 30px 40px ; justify-content: space-between; margin-top: 100px; align-items: center;}

.social p{color: white; font-size: 30px;}
.social h3{color: white; font-size: 20px; font-weight: 600;}
.social p a{text-decoration: none; color: white;}


.photo-details{display: flex; width: 60%; margin: auto; align-items: center; margin-top: 100px;}

.photo-d {padding:50px;}

.photo-d h2{margin-bottom: 25px; color: #707f3f;}
.photo-d p{color: #565656; font-size: 14px;}

.youtube h2{text-align: center; color: white;padding: 50px; font-weight: 500; font-size: 36px;}

.youtube{background-color: #707f3f;  margin-top: 100px; padding-bottom: 80px; margin-bottom: 80px; }

.y-videos{width: 80% ; margin: auto; text-align: center;}

.y-vid{border: 10px solid white; margin: 0 40px;}











.swiper {
    width: 70%;
    height: 100%;
    margin-top: -30px;
    margin-bottom: 80px;
  }

 

  .swiper-slide {
    text-align: center;
    font-size: 15px;
    background: #fff;
    

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



  .footer {background-color: #8fa065; padding: 50px 6%; display: flex; justify-content: space-around;  }

  .footer-sec{width: 30%; text-align: center; }

  .footer-sec h3{margin-bottom: 20px;color: white; font-weight: 600;}

  .footer-sec p{color: white; font-size: 15px;}

  span{font-weight: bold;}

.copyright{background-color: #707f3f; padding: 15px 6%;}

  .copyright p{color: white; font-size: 14px;}
